<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.babylife">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BabyLife"
        tools:targetApi="34">
        <activity
            android:name=".AddAPumpingSessionActivity"
            android:exported="false" />
        <activity
            android:name=".AddASleepingActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".AddAFeedingActivity"
            android:exported="false" />
        <activity
            android:name=".ChildDataView"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraPhotoDisplay"
            android:exported="false" />
        <activity
            android:name=".BabyDataChart"
            android:exported="false" />
        <activity
            android:name=".AddADiaperChange"
            android:exported="false" />
        <activity
            android:name=".AddABabyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Receiver entry -->
        <receiver
            android:name=".NotificationActivity$NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.babylife.ACTION_NOTIFY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>